/docs

### Frontend
/client/node_modules
/client/package-lock.json
/client/dist

### Python Dash App/Server
/python/venv/
/python/__pycache__/

### Backend/Server
HELP.md
/server/finsight/target
/server/finsight/.mvn
/server/finsight/raw-data

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
server/finsight/nbproject/private/
server/finsight/nbbuild/
server/finsight/dist/
server/finsight/nbdist/
server/finsight/.nb-gradle/
server/finsight/build/
